body {
  margin: 0;
  background-color: #111;
  font: 33px Helvetica, Arial, sans-serif;
  letter-spacing: -3px;
  color: #fff;
}
a {
  color: #fff;
}


/************************************************************
 * Sidebars
 ************************************************************/

ul#sidebar-left, ul#sidebar-right {
  position: absolute;
  top: 20px;
  width: 200px;
  z-index: 10;
  margin: 0;
  padding: 0;
}
ul#sidebar-left  { left: 0px; text-align: right; padding-right: 20px; }
ul#sidebar-right { right: 0px; text-align: left; padding-left: 20px; }

ul#sidebar-left li, ul#sidebar-right li {
  list-style-type: none;
  margin-bottom: 10px;
}
ul#sidebar-left li {
  float: right;
}
ul#sidebar-left li a, ul#sidebar-right li a {
  display: block;
  width: 145px;
  height: 145px;
  padding: 10px;
  text-decoration: none;
  font: 43px Helvetica, Arial, sans-serif;
  font-weight: bold;
}

ul.sidebar li a span {
  padding-right: 3px;
}

.love              { background-color: #ff0000; }
.love.selected span{ color:            #ff0000;
                     background-color: #ffffff; }
.love img          { border: 5px solid #ff0000; }
#credits a.love    { color:            #ff0000; }

.hate              { background-color: #ff8a00; }
.hate.selected span{ color:            #ff8a00;
                     background-color: #ffffff; }
.hate img          { border: 5px solid #ff8a00; }
#credits a.hate    { color:            #ff8a00; }

.think             { background-color: #d2ff00; }
.think.selected span{ color:            #d2ff00;
                     background-color: #ffffff; }
.think img         { border: 5px solid #d2ff00; }
#credits a.think   { color:            #d2ff00; }

.believe           { background-color: #00cd18; }
.believe.selected span{ color:            #00cd18;
                     background-color: #ffffff; }
.believe img       { border: 5px solid #00cd18; }
#credits a.believe { color:            #00cd18; }

.feel              { background-color: #00ff96; }
.feel.selected span{ color:            #00ff96;
                     background-color: #ffffff; }
.feel img          { border: 5px solid #00ff96; }
#credits a.feel    { color:            #00ff96; }

.wish              { background-color: #007eff; }
.wish.selected span{ color:            #007eff;
                     background-color: #ffffff; }
.wish img          { border: 5px solid #007eff; }
#credits a.wish    { color:            #007eff; }


/************************************************************
 * Content
 ************************************************************/

#content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

#images {
  padding: 10px 220px 140px 220px;
}

#images .image {
  float: left;
  margin: 2px;
}

.images-loading, .images-loaded {
  display: none;
}


/************************************************************
 * Credits
 ************************************************************/

#credits {
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -1px;
  border-top: 5px solid #fff;
}
#credits a { background: none; }
.fb-like {
  margin-bottom: 1em;
}