body {
  margin: 0;
  background-color: #111;
  font: 33px Helvetica, Arial, sans-serif;
  letter-spacing: -3px;
  color: #fff;
}
a {
  color: #fff;
}


/************************************************************
 * Sidebars
 ************************************************************/

ul#sidebar-left, ul#sidebar-right {
  position: fixed;
  top: 60px;
  width: 200px;
  margin: 0;
  padding: 0;
}
ul#sidebar-left  { left: 0px; text-align: right; padding-right: 20px; }
ul#sidebar-right { right: 0px; text-align: left; padding-left: 20px; }

ul#sidebar-left li, ul#sidebar-right li {
  list-style-type: none;
}
ul#sidebar-left li a, ul#sidebar-right li a {
  text-decoration: none;
  font: 43px Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.love             {            color: #ff0000; }
.love.selected    { background-color: #ff0000; }
.love img         { border: 5px solid #ff0000; }

.hate             {            color: #ff8a00; }
.hate.selected    { background-color: #ff8a00; }
.hate img         { border: 5px solid #ff8a00; }

.think            {            color: #d2ff00; }
.think.selected   { background-color: #d2ff00; }
.think img        { border: 5px solid #d2ff00; }

.believe          {            color: #00cd18; }
.believe.selected { background-color: #00cd18; }
.believe img      { border: 5px solid #00cd18; }

.feel             {            color: #00ff96; }
.feel.selected    { background-color: #00ff96; }
.feel img         { border: 5px solid #00ff96; }

.wish             {            color: #007eff; }
.wish.selected    { background-color: #007eff; }
.wish img         { border: 5px solid #007eff; }

.selected         {            color: #ffffff; }


/************************************************************
 * Content
 ************************************************************/

#content {
  padding: 0 220px;
}

#images .image {
  float: left;
  margin: 2px;
}

.images-loading, .images-loaded {
  display: none;
}


/************************************************************
 * Credits
 ************************************************************/

#credits {
  position: fixed;
  bottom: 25px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -1px;
  border-top: 5px solid #fff;
}
.fb-like {
  margin-bottom: 1em;
}